{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block slide %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hero-slide-item set-bg" data-setbg="{{asset("img/annie-spratt-P43nxvIHnag-unsplash.jpg")}}">
            <div class="hs-text">
                <h2 class="hs-title-1"><span>Mon</span></h2>
                <h2 class="hs-title-2"><span>Panier</span></h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="container">
        <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum massa</p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.createdAt ? panier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ panier.etat ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('panier_show', {'id': panier.id}) }}">show</a>
                    <a href="{{ path('panier_edit', {'id': panier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Votre panier est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('panier_new') }}"><button type="button" class="btn btn-primary text-center">Nouveau pannier</button></a> 
    <br><br>
    
</div>
<br><br>
<br><br>
{% endblock %}
{% block review %}{% endblock %}
