{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}
{% block slide %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hero-slide-item set-bg" data-setbg="{{asset("img/annie-spratt-P43nxvIHnag-unsplash.jpg")}}">
            <div class="hs-text">
                <h2 class="hs-title-1"><span>Mon</span></h2>
                <h2 class="hs-title-2"><span>Panier</span></h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block body %}
    <br>
    <br>
<div class="container">
        <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum massa</p>

{% if panier != null %}
    {% set total = 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Date d'ajout</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Montant</th>
                <th>Actions</th>
                <th>Total</th>
            </tr>
        </thead>
       
        <tbody>
        {% if produits is not empty %}
          {% for produit in produits %}
          <tr>
          {% set total_ligne = panier[produit.id].quantite * panier[produit.id].prix   %}
            {% set total = total + total_ligne %}
            <th>{{ panier[produit.id].nom_produit }}</th>
            <th>{{ panier[produit.id].date_ajout|date("d-m-Y") }}</th>
            <th>{{ panier[produit.id].quantite }}</th>
            <th>{{ panier[produit.id].prix }} €</th>
            <th>{{ total_ligne }} €</th>
            <th><a href="{{ path('delete_produit_panier' , {'id' : panier[produit.id].id_produit  }) }}" class="btn btn-warning">Retirer</a></th>
            <th></th>
            </tr>
          {% endfor %}
          <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ total }} €</strong></td>
          <tr>
        {% else %}
            <tr>
                <td colspan="4">Votre panier est vide</td>
            </tr>
        {% endif %}
      
        </tbody>
    </table>
    <a href="{{ path('edit_panier') }}"><button type="button" class="btn btn-primary text-center">Acheter</button></a> 
    <br><br>
{% else %}
<p>Panier vide </p>
{% endif %}
    
</div>
<br><br>
<br><br>
{% endblock %}
{% block review %}
<section class="container section-title">
    
    <h5>Autres produits </h5>
       
</section>
{% endblock %}
